<h1>Shrinky Link</h1>
<p>Get a shortlink by Shrinky Link from a long URL</p>

<%= @link.link %>
<h3>Add a new URL</h3>
<%= form_for @link do |f| %>

  <p>
    <%= f.label :link, "Your URL:" %>
    <%= f.text_field :link %>
  </p>

  <% if @link.errors[:link].any? %>
    <p class='error-messages'>
      The given url <%= @link.errors[:link].to_sentence %>.
    </p>
  <% end %>

  <p class='buttons'>
    <%= f.submit "Shorten my URL" %>
  </p>

<% end %>

<p>See past links Shrinkied Before! <%= link_to 'Shrinkied Links', new_link_path(show_all: "true") %></p>
    <% if params[:show_all] %>
      <% Link.all.each do |the_url| %>
        <div>
          <%= the_url.link %> + <%= the_url.short_url %> 
        </div>
      <% end %>
    <% end %>